#overlord-header {
  font-family: OpenSansRegular,Arial,Helvetica,sans-serif;
  font-size: 13px;
}
#overlord-header .overlord-navbar {
  border-top: 2px solid #f4d7a0;
}
#overlord-header .overlord-navbar .overlord-navbar-brand {
  border-top: 1px solid #e8e788;
  background-color: #121e34;
  background-image: url(overlord-header-images/overlord-bg.png);
  background-position: top left;
  background-repeat: no-repeat;
  font-size: 11px;
  width: 100%;
  height: 27px;
}
#overlord-header .overlord-navbar .overlord-navbar-brand a.brand, #overlord-header .overlord-navbar .overlord-navbar-brand a.subbrand {
  font-size: 15px;
  font-family: Tahoma,Helvetica,Arial,sans-serif;
  text-transform: capitalize;
  color: white;
  display: block;
  float: left;
  padding-top: 3px;
  cursor: default;
  text-decoration: none;
}
#overlord-header .overlord-navbar .overlord-navbar-brand a.brand {
  background-image: url(overlord-header-images/overlord_icon_16px.png);
  background-position: 10px 5px;
  background-repeat: no-repeat;
  font-weight: bold;
  padding-left: 32px;
}
#overlord-header .overlord-navbar .overlord-navbar-brand a.subbrand {
  padding-left: 8px;
}

#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user {
  float: right;
  cursor: pointer;
  border-left: 1px solid #58595d;
  height: 24px;
  padding-top: 3px;
  padding-left: 28px;
  padding-right: 8px;
  background-image: url('overlord-header-images/icon-user.png');
  background-position: 8px 7px;
  background-repeat: no-repeat;
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user:hover {
  background-color: rgba(255,255,255,0.2);
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user a {
  color: white;
  text-decoration: none;
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-username {
  padding-right: 18px;
  background-image: url('overlord-header-images/dropdown_icon.png');
  background-position: center right;
  background-repeat: no-repeat;
}

#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user-menu {
  display: none;
  border-left: 1px solid #58595d;
  border-top: 1px solid #58595d;
  border-bottom: 1px solid #58595d;
  position: absolute;
  background-color: #121e34;
  padding-top: 15px;
  padding-bottom: 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user-menu ul {
  list-style: none outside none;
  padding: 0px;
  margin: 0px;
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user-menu ul li {
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: 3px;
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user-menu ul li:hover {
  background-color: #717479;
}
#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-user-menu ul li a {
  color: white;
}

#overlord-header .overlord-navbar .overlord-navbar-brand .overlord-nav-mobile {
  float: right;
  color: white;
  font-size: 15px;
  border-left: 1px solid #58595d;
  height: 24px;
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 8px;
  text-indent: -5000px;
  cursor: pointer;
  width: 25px;
  height: 24px;
  background-image: url('overlord-header-images/mobile-menu.png');
  background-position: 8px 4px;
  background-repeat: no-repeat;
}

#overlord-header .overlord-navbar .overlord-navbar-nav {
  height: 43px;
  background-image: url('overlord-header-images/tab-normal-bg.png');
  background-position: top left;
  background-repeat: repeat-x;
}

#overlord-header .overlord-navbar .overlord-navbar-nav .overlord-navbar-tabs .overlord-navbar-tab {
  float: left;
  height: 43px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 12px;
  color: rgb(219, 218, 218);
}
#overlord-header .overlord-navbar .overlord-navbar-nav .overlord-navbar-tabs .overlord-navbar-tab.active {
  background-image: url('overlord-header-images/tab-active-bg.png');
  background-position: top left;
  background-repeat: repeat-x;
  color: white;
}

#overlord-header .overlord-mobile-nav {
  display: none;
}

#overlord-header .overlord-mobile-nav {
  display: none;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list {
  border-bottom: 2px solid #58595d;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list {
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px 0px 10px 25px;
  margin-bottom: 5px;
  margin-left: 0px;
  list-style: none outside none;
  padding-bottom: 10px;
  background-color: #121e34;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list .overlord-nav-header {
  display: block;
  margin-right: -15px;
  margin-left: -15px;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(153, 153, 153);
  text-shadow: 0px 1px 0px rgba(40,40,40, 0.5);
  text-transform: uppercase;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list li a {
  padding: 3px 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0px 1px 1px rgba(80, 80, 80, 0.5);
  display: block;
  color: #ddd;
  text-decoration: none;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list li a:hover {
  color: #fff;
  background-color: #51575c;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list li.active a {
  color: rgb(255, 255, 255);
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2);
  background-color: #707378;
}

/* ----------------------------------------
 * Responsive stylings begin here.
 * ----------------------------------------
 */

/* Desktop */
@media ( min-width : 768px) {
  .overlord-mobile-only {
    display: none !important;
  }
  .overlord-no-desktop {
    display: none !important;
  }

  #overlord-header {
    height: 73px;
  }

  #overlord-header .overlord-navbar {
    top: 0px;
    right: 0px;
    position: fixed;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
    height: 71px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  }

}

/* Mobile */
@media ( max-width : 767px) {
  .overlord-desktop-only {
    display: none !important;
  }
  .overlord-no-mobile {
    display: none !important;
  }

  #overlord-header .overlord-navbar {
    border-bottom: 1px solid #58595d;
  }

}

