#overlord-header .overlord-navbar {
  background-image: url("overlord-header-images/navbar-bg.png");
  background-repeat: repeat-x;
  background-color: #007ca3;
}
#overlord-header .overlord-navbar .overlord-navbar-inner {
  min-height: 72px;
  background-image: url("overlord-header-images/navbar-logo.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-color: transparent;
  border: none;
}
#overlord-header .overlord-navbar .brand {
  text-indent: -5000px;
  width: 215px;
  height: 52px;
  display: block;
  float: left;
  padding: 10px 20px 10px;
  margin-left: -20px;
  font-size: 20px;
  font-weight: 200;
  color: #777;
  text-shadow: 0 1px 0 white;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs {
  float: left;
  height: 72px;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab {
  float: left;
  height: 72px;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab .component {
  height: 72px;
  float: left;
  background-position: top left;
  background-repeat: no-repeat;
}
/* Center tabs, not selected  */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab .left {
  background-image: url("overlord-header-images/tabs/Middle_Left_Normal.png");
  width: 19px;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab .middle {
  background-image: url("overlord-header-images/tabs/Middle_Middle_Normal.png");
  background-repeat: repeat-x;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab .right {
  background-image: url("overlord-header-images/tabs/Middle_Right_Normal.png");
  width: 19px;
}
/* First tab, not selected */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first .left {
  background-image: url("overlord-header-images/tabs/LeftCap_Left_Normal.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first .middle {
  background-image: url("overlord-header-images/tabs/LeftCap_Middle_Normal.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first .right {
  background-image: url("overlord-header-images/tabs/LeftCap_Right_Normal.png");
}
/* Last tab, not selected */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last .left {
  background-image: url("overlord-header-images/tabs/RightCap_Left_Normal.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last .middle {
  background-image: url("overlord-header-images/tabs/RightCap_Middle_Normal.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last .right {
  background-image: url("overlord-header-images/tabs/RightCap_Right_Normal.png");
}
/* Center tabs, selected  */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab.active .left {
  background-image: url("overlord-header-images/tabs/Middle_Left_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab.active .middle {
  background-image: url("overlord-header-images/tabs/Middle_Middle_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab.active .right {
  background-image: url("overlord-header-images/tabs/Middle_Right_Selected.png");
}
/* First tab, selected */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first.active .left {
  background-image: url("overlord-header-images/tabs/LeftCap_Left_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first.active .middle {
  background-image: url("overlord-header-images/tabs/LeftCap_Middle_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-first.active .right {
  background-image: url("overlord-header-images/tabs/LeftCap_Right_Selected.png");
}
/* Last tab, selected */
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last.active .left {
  background-image: url("overlord-header-images/tabs/RightCap_Left_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last.active .middle {
  background-image: url("overlord-header-images/tabs/RightCap_Middle_Selected.png");
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab-last.active .right {
  background-image: url("overlord-header-images/tabs/RightCap_Right_Selected.png");
}

#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab a {
  color: #dde;
  font-size: 12px;
  font-weight: bold;
  text-shadow: 0px 1px #666;
  margin-top: 46px;
  float: left;
  display: block;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab a:hover {
  color: #eec
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab.active a {
  color: #444;
  text-shadow: 0px 1px #fff;
}
#overlord-header .overlord-navbar .overlord-navbar-tabs .overlord-navbar-tab.active a:hover {
  text-decoration: none;
}
#overlord-header .overlord-nav-shadowman {
  background-image: url("overlord-header-images/navbar-shadowman.png");
  width: 56px;
  height: 72px;
  float: right;
}
#overlord-header .overlord-nav-user {
  margin-top: 20px;
  color: white;
  float: right;
  text-shadow: 1px 1px #0079ab;
}
#overlord-header .overlord-nav-user a {
  color: #a5e3fd;
}
#overlord-header .overlord-nav-mobile {
  color: white;
  margin-top: 20px;
  margin-right: 25px;
  background-image: url("overlord-header-images/navbar-menu-mobile.png");
  height: 30px;
  width: 30px;
  text-indent: -3000px;
  float: right;
  cursor: pointer;
}

#overlord-header .overlord-mobile-nav {
  display: none;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list {
  padding: 0px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0px 0px 10px 25px;
  margin-bottom: 5px;
  margin-left: 0px;
  list-style: none outside none;
  padding-bottom: 10px;
  background-color: #d9d9d9;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
}
#overlord-header .overlord-mobile-nav .overlord-nav-list .overlord-nav-header {
  display: block;
  margin-right: -15px;
  margin-left: -15px;
  padding: 3px 15px;
  font-size: 11px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(153, 153, 153);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  text-transform: uppercase;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list li a {
  padding: 3px 15px;
  margin-right: -15px;
  margin-left: -15px;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  display: block;
  color: rgb(0, 136, 204);
  text-decoration: none;
}
#overlord-header .overlord-mobile-nav .overlord-nav-list li.active a {
  color: rgb(255, 255, 255);
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.2);
  background-color: rgb(0, 136, 204);
}


/* ----------------------------------------
 * Responsive stylings begin here.
 * ----------------------------------------
 */

/* Desktop */
@media ( min-width : 768px) {
  .overlord-mobile-only {
    display: none !important;
  }
  .overlord-no-desktop {
    display: none !important;
  }

  /* Header should be fixed for desktops */
  body {
    padding-top: 80px;
    padding-bottom: 10px;
  }
  #overlord-header .overlord-navbar {
    top: 0px;
    position: fixed;
    right: 0px;
    left: 0px;
    z-index: 1030;
    margin-bottom: 0px;
  }
  #overlord-header .overlord-navbar .overlord-navbar-inner {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.1);
    padding-right: 0px;
    padding-left: 0px;
    border-radius: 0px 0px 0px 0px;
  }
  
}

/* Mobile */
@media ( max-width : 767px) {
  .overlord-desktop-only {
    display: none !important;
  }
  .overlord-no-mobile {
    display: none !important;
  }
  
  #overlord-header .overlord-navbar {
    margin-bottom: 0px;
  }

  body {
    padding: 0px;
  }

}
